/* link realated */
body {
  font-family: 'Open Sans', sans-serif;

}

/* nav realtaed */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;

}

.main-color {
  color: #FD6E0A;
}

.btn-main {
  border-radius: 5px;
  background: #FD6E0A;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 16px 35px;
  border: 0;
  text-transform: capitalize;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 51px;

}

nav a {
  text-decoration: none;
  color: #474747;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;

}

/* header related  */

.main-header {
  background-color: #FFF8F3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;

}

.second-main {
  max-width: 500px;
}

.mainhad-div {

  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.porfile {
  width: 400px;
}

.hi {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}

.hardy {
  font-size: 85px;
  color: #181818;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.des {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* main section start  */
main section {
  margin-top: 130px;
}

main {
  max-width: 1140px;
  margin: 0px auto;

}

/* about section start  */
.about {
  border-radius: 10px;
  background: #FFF8F3;
  padding: 131px 157px;
  margin: 130px 0px;


}

.mil-tittle {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;

}

.about-des {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;

}

.about-info-maincontainer {
  display: flex;
  justify-content: space-around;

}

.about-container {
  text-align: center;
}

.about-tittle {
  line-height: 30px;
  color: #757575;
}

.about-des {
  font-weight: bold;
  color: #181818;
}

/* end about  */

/* start what i do */
#what {
  color: #757575;
  padding: 30px 150px;
}

.skils-container {
  display: flex;
  gap: 24px;
}

.skils {
  padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section  */

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-container hr {
  margin: 50px;
}

.resume-tittlee {
  color: #474747;
  font-size: 30px;
  font-weight: 700;

}

.resume-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;

}

.resume-insti {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-des {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.downloud {
  text-align: center;
  margin-top: 30px;
}

/* start foter  */
footer {
  display: flex;
  margin-top: 100px;
  padding: 130px 200px;
  background: #FFF8F3;
  gap: 100px;
}

.foter-colum {
  width: 50%;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
  display: block;
  border-radius: 5px;
  background: #FFF;
  border: 0;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  width: 100%;
}